name: Automated-Environments-EC2s-CICD
on:
  workflow_dispatch:
   inputs:
     environment:
       description: 'Select the deployment environment'
       required: true
       type: choice
       options:
         - production
         - staging
  push:
      branches:
        - production
        - staging

        
permissions:
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v6.1.0
      with:
        # Version Spec of the version to use. Examples: 12.x, 10.15.1, >=10.15.0.
        node-version: 20
    - name: Installing Dependencies
      run: npm install
    - name: lint Phase
      run:  npm run lint
    - name: unit test
      run: npm run test
    - name: Building Static Files
      run: npm run build
 
    - name: Log in to GitHub Container Registry
      uses: docker/login-action@v2
      with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

    - uses: docker/build-push-action@v6.18.0
      with:
        push: true
        tags: ghcr.io/${{ github.actor }}/react-app-cicd:${{ github.sha }},ghcr.io/${{ github.actor }}/react-app-cicd:latest
        context: .

  deploy:
     name: Deploy to ${{ github.event.inputs.environment || github.ref_name }} Server
     runs-on: ubuntu-latest
     needs: build
     environment:
        name: ${{ github.event.inputs.environment || github.ref_name }}
        url: http://${{ vars.SSH_HOST }}:8080
     steps:
     - name: SSH into server
       uses: appleboy/ssh-action@v1.0.3
       with:
         host: ${{ vars.SSH_HOST }}
         username: ${{ vars.SSH_USER }}
         key: ${{ secrets.SSH_PRIVATE_KEY }}
         script: |
             docker login ghcr.io -u ${{ github.actor }} -p ${{ secrets.GITHUB_TOKEN }}
             docker stop react-app || true
             docker rm react-app || true
             docker run -d -p 8080:80 --name "react-app" ghcr.io/${{ github.actor }}/react-app-cicd:${{ github.sha }}

