name: Dockerized CI

on:
  push:
    branches: ["main"]

permissions:
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js 20
        uses: actions/setup-node@v6.1.0
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install

      - name: Lint phase
        run: npm run lint
        continue-on-error: true

      - name: Unit tests
        run: npm run test

      - name: Build static files
        run: npm run build

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6.18.0
        with:
          context: .
          push: true
          tags: |
            ghcr.io/${{ github.actor }}/react-app-cicd:${{ github.sha }}
            ghcr.io/${{ github.actor }}/react-app-cicd:latest
