deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
        - name: Download Build Artifacts
          uses: actions/download-artifact@v4
          with:
            name: react-app-build
        - name: Copy Artifact to Server
          uses: appleboy/scp-action@v1
          with:
            host: ${{ vars.SSH_HOST }}
            username: ${{ vars.SSH_USER }}
            key: ${{ secrets.SSH_PRIVATE_KEY }}
            source: ./*
            target: /usr/share/nginx/html/
            rm: true
        - name: SSH into Server
          uses: appleboy/ssh-action@v1.0.3
          with:
            host: ${{ vars.SSH_HOST }}
            username: ${{ vars.SSH_USER }}
            key: ${{ secrets.SSH_PRIVATE_KEY }}
            script: |
             sudo systemctl restart nginx